{% extends "base.html" %}

{% block title %}Add Appointment{% endblock %}

{% block content %}
<br><br><br><br><br><br>


<section id="add-patient-page" class="section">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="add-patient-wrapper">

                    <div class="add-patient-header text-center" data-aos="fade-up" data-aos-delay="100">
                        <h2>Add New Appointment</h2>
                        <p>Fill in the appointment information to create a new record.</p>
                    </div>

                    <div class="add-patient-icon" data-aos="zoom-in" data-aos-delay="200">
                        <i class="bi bi-calendar-event"></i>
                    </div>

                    <form id="add-patient-form" method="POST" data-aos="fade-up" data-aos-delay="300">
                        <div class="col-md-12">
                            <label for="appointment_date" class="form-label">Date Of Appointment</label>
                            <input type="datetime-local" id="appointment_date" name="appointment_date"
                                class="form-control" required>
                        </div><br>

                        <div class="col-12">
                            <label for="reason" class="form-label">Reason</label>
                            <textarea id="reason" name="reason" class="form-control" rows="5"
                                placeholder="Add the reason for the appointment"></textarea>
                        </div><br>

                        <div class="col-md-12">
                            <label for="status" class="form-label">Status</label>
                            <select name="status" class="form-select" required="">
                                <option value="">Select a Status</option>
                                <option value="Scheduled">Scheduled</option>
                                <option value="Done">Done</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                        </div><br>


                        <div class="col-12 text-center pt-2">
                            <button type="submit" class="save-patient-btn">Save Appointment</button>
                            <a href="{{ url_for('patient_detail', patient_id=patient.id) }}"
                                class="btn-outline-main ms-2">
                                Cancel
                            </a>
                        </div>
                </div>
                </form>

            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}