{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hero-content">
            <div class="trust-badges mb-4" data-aos="fade-right" data-aos-delay="200">
              <div class="badge-item">
                <i class="bi bi-shield-check"></i>
                <span>Accredited</span>
              </div>
              <div class="badge-item">
                <i class="bi bi-clock"></i>
                <span>24/7 Emergency</span>
              </div>
            </div>

            <h1 data-aos="fade-right" data-aos-delay="300">
              Excellence in <span class="highlight">Dentalcare</span> With Compassionate Care
            </h1>

            <p class="hero-description" data-aos="fade-right" data-aos-delay="400">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>

            <div class="hero-stats mb-4" data-aos="fade-right" data-aos-delay="500">
              <div class="stat-item">
                <h3><span data-purecounter-start="0" data-purecounter-end="{{ total_patients }}"
                    data-purecounter-duration="2" class="purecounter"></span></h3>
                <p>Total Patients</p>
              </div>
              <div class="stat-item">
                <h3><span data-purecounter-start="0" data-purecounter-end="{{ done_appointments }}"
                    data-purecounter-duration="2" class="purecounter"></span></h3>
                <p>Done Appointments</p>
              </div>
              <div class="stat-item">
                <h3><span data-purecounter-start="0" data-purecounter-end="{{ total_treatments }}"
                    data-purecounter-duration="2" class="purecounter"></span></h3>
                <p>Total Treatments</p>
              </div>
            </div>


            <div class="hero-stats mb-4" data-aos="fade-right" data-aos-delay="500">
              <div class="stat-item">
                <h3><span data-purecounter-start="0" data-purecounter-end="{{ total_revenue }}"
                    data-purecounter-duration="2" class="purecounter"></span></h3>
                <p>Total Revenue</p>
              </div>
              <div class="stat-item">
                <h3><span data-purecounter-start="0" data-purecounter-end="{{ total_paid }}"
                    data-purecounter-duration="2" class="purecounter"></span></h3>
                <p>Total
                  Paid&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
              </div>
              <div class="stat-item">
                <h3><span data-purecounter-start="0" data-purecounter-end="{{ total_remaining }}"
                    data-purecounter-duration="2" class="purecounter"></span></h3>
                <p>Total Remaining</p>
              </div>
            </div>

            <div class="hero-actions" data-aos="fade-right" data-aos-delay="600">
              <div class="hero-actions mt-3 custom-btn-position">
                <a href="{{ url_for('appointments') }}" class="btn btn-primary">Book Appointment</a>
              </div>
            </div>

            <div class="emergency-contact" data-aos="fade-right" data-aos-delay="700">
              <div class="emergency-icon">
                <i class="bi bi-telephone-fill"></i>
              </div>
              <div class="emergency-info">
                <small>Emergency Hotline</small>
                <strong>+963 958-948-727</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="hero-visual" data-aos="fade-left" data-aos-delay="400">
            <div class="main-image">
              <img src="static/assets/img/health/staff-10.webp" alt="Modern Healthcare Facility" class="img-fluid">
              <div class="floating-card appointment-card" style="opacity: 0.5;">
                <div class="card-content">
                  <h6>Total Appointments</h6>
                  <h3 class="text-center">{{ total_appointments }}</h3>
                </div>
              </div>
            </div>
            <div class="background-elements">
              <div class="element element-1"></div>
              <div class="element element-2"></div>
              <div class="element element-3"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /Hero Section -->

  <!-- Section Title -->
  <div class="container section-title" style="margin-top: 80px;" data-aos="fade-up">
    <h2>Latest Patients</h2>
    <p>Here's a list of your latest patients
    </p>
  </div><!-- End Section Title -->


  <!-- latest patients Section -->
  <section id="find-a-doctor" class="find-a-doctor section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="doctors-grid" data-aos="fade-up" data-aos-delay="300">
        {% for patient in latest_patients %}
        <div class="doctor-profile" data-aos="zoom-in" data-aos-delay="100">
          <div class="profile-header">
            <div class="doctor-avatar">
              <img src="static\assets\my imgs\person.png" alt="Dr. Amanda Foster" class="img-fluid">
              <div class="status-indicator available"></div>
            </div>
            <div class="doctor-details">
              <h4>{{ patient.first_name }} {{ patient.last_name }}</h4>
              <span class="specialty-tag">{{ patient.phone }}</span>
            </div>
          </div>
          <div class="action-buttons">
            <a href="/patients/{{ patient.id }}" class="btn-primary">View</a>
          </div>
        </div>
        {% else %}
        <div class="home-empty-state">
          <div class="home-empty-icon">
            <i class="bi bi-person-x"></i>
          </div>
          <h4>No patients found.</h4>
          <p>You have not added any patients yet.</p>
        </div>
        {% endfor %}

      </div>

      <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="700">
        <a href="/patients" class="btn-view-all">
          View All Patients
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>

    </div>

  </section><!-- /latest patients -->

  <!-- Section Title -->
  <div class="container section-title" style="margin-top: 80px;" data-aos="fade-up">
    <h2>Latest Appointments</h2>
    <p>Here's a list of your latest appointments
    </p>
  </div><!-- End Section Title -->

  <!-- latest appointments Section -->

  <section id="find-a-doctor" class="find-a-doctor section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="doctors-grid" data-aos="fade-up" data-aos-delay="300">
        {% for appointment in latest_appointments %}
        <div class="doctor-profile" data-aos="zoom-in" data-aos-delay="100">
          <div class="profile-header">
            <div class="doctor-avatar">
              <img src="static\assets\my imgs\date.webp" alt="Dr. Amanda Foster" class="img-fluid">
              <div class="status-indicator available"></div>
            </div>
            <div class="doctor-details">
              <h4>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h4>
              <h4>{{ appointment.appointment_date }}</h4>
              <span class="specialty-tag">{{ appointment.patient.phone }}</span>
              <span class="specialty-tag">{{ appointment.status }}</span>
            </div>
          </div>
          <div class="action-buttons">
            <a href="/appointments/{{ appointment.id }}" class="btn-primary">View</a>
          </div>
        </div>
{% else %}
  <div class="home-empty-state">
    <div class="home-empty-icon">
      <i class="bi bi-calendar-x"></i>
    </div>
    <h4>No appointments found.</h4>
    <p>You have not scheduled any appointments yet.</p>
  </div>
{% endfor %}
      </div>

      <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="700">
        <a href="/appointments" class="btn-view-all">
          View All Appointments
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>

    </div>

  </section><!-- /latest appointments section end -->


  </div>
  {% endblock %}